body {
    font-family: Arial;
}

#fileupload {
  display: none;
}

form {
  display: table-row;
  width: 40rem;
}

span[role="button"] {
  display: table-cell;
  font-size: 1rem;
  padding: 8px 8px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid #265986;  
  color: #ffffff;
  cursor: pointer;
  background-color: #265986;
  outline: none;
}

span[role="button"]:hover,
span[role="button"]:focus {
  -webkit-box-shadow: 0 0 6px #595959;
          box-shadow: 0 0 6px #595959;
  background-color: #183a57;
  border-color: #265986;
  outline: 2px solid transparent;
}

html.no-js span[role="button"] {
  border-radius: 5px;
}

.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

html.no-js .hide {
  display: none;
}

input[type="text"] {
  display: table-cell;
  margin-left: -5px;
  width: 20rem;
  font-family: Arial;
  font-size: 1rem;
  padding: 8px 8px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid #265986;  
  color: #000000;
  background-color: #ffffff;
}

html.no-js input[type="text"] {
  display: none;
}

input[type="text"]:focus {
  -webkit-box-shadow: 0 0 6px #595959;
          box-shadow: 0 0 6px #595959;
  border-color: #265986;
  outline: 2px solid transparent;
}
